= slide 'За курса' do
  ul
    li.action
      a href="http://moodle.openfmi.net/course/view.php?id=989" moodle.openfmi.net
    li.action Ключ за записване: potok1
    li.action
      | <a href="http://w3tech.tk">w3tech.tk</a> - помощен сайт

= slide 'Теми' do
  p Ориентировъчно:
  ul
    li Основи на HTML
    li PHP оператори
    li PHP & MYSQL (PDO)
    li HTML
    li CSS 1
    li CSS 2
    li Javascript Част 1
    li Javascript Част 2 (jQuery)
    li PHP Auth
    li PHP OOP & MVC like
    li HTML5
    li File upload
  p Ако искате да обърнем повече внимание на нещо се чувствайте свободни да споделите с преподавателския екип.

= slide 'Оценяване' do
  ul
    li 30% Домашни
    li 30% Проект
    li 40% Реферат
  p Имаме право и на субективно мнение

= slide 'Домашни' do
  list:
    Първите 8-10 седмици ще имате домашни.
    За да има всяка група поне по една седмица, крайните срокове са в сряда.
    След минаване на крайните срокове формите се затварят и не можете да предавате.
    При преписване (работа в екип) точките от домашното се делят на броя хора в групата.
    На част от домашните ще получите ревю към оценката => стремете се да пишете добър код.

= slide 'Проект' do
  list:
    Всеки може сам да си избере тема за проект.
    Ако не можете сами да си измислите, то лекторът ще ви даде списък.
    Няма ограничения за backend език - ползвайте каквото искате.
    Тъй като все пак искаме да видим, че сте усвоили материала не искаме да използвате големи фреймуърци като rails/django.
    Намерете си нещо по-малко като sinatra/flask, което да не върши много работа вместо вас.
    По същата причина няма да се радваме и на bootstrap - искаме да оценим вашите умения, а не на тези от twitter.
    Проектът трябва да има: client, server, db, добър код, документация
    За документацията лекторът ще ви даде шаблон.

= slide 'Реферат' do
  list:
    Избирате си някаква интересна тема и пишете за нея.
    Естествено темата трябва да е свързана с предмета.
    Разглеждайте го като по-голям блог пост. Ориентировъчно гледайте да се равнява на поне десетина страници, макар че размерът не е толкова важен в случая.
    Форматът трябва да е .html, като по желание можете да добавяте стилове, ефекти и неща, които да се харесат на лектора.
    Ако го направите така, че на вас да ви харесва, то сигурно и на нас ще ни хареса.
    Представянето е по време на лекциите и оценяването се извършва от лектора.
    Можете да посещавате защитите на своите колеги и може да научите някои интересни неща.

/= slide 'Клиент-сървър' do
/  img src="images/client_net.jpg" style="width: 60%"
/
/= slide 'HTTP' do
/  ul
/    li.action Браузърът изпраща HTTP заявка към сървъра.
/    li.action Сървърът я обработва.
/    li.action Той може да прочете информация от база от данни.
/    li.action Накрая генерира отговор под формата на HTML документ.

= slide 'Web накратко' do
  list:
    HTML (HyperText Markup Language)- съдържание
    CSS (Cascading StyleSheets) - стилове и ефекти
    JS (JavaScript) - функционалност при клиента
    PHP|Ruby|Python... - език, който се изпълнява на сървъра
    SQL (Structured Query Language) - език, който използваме за базата данни

= slide 'This is madness' do
  list:
    This is World Wide Web (Sparta)
    На пръв поглед изглежда страшно, но не е.
    Наистина в уеб се сблъскаваме с огромно количество различни езици за какво ли не.
    Хората продължават да си правят и нови когато им скимне.
    В този курс накратко ще разгледаме по-горе описаните езици поотделно, за да можете накрая да ги ползвате заедно.
    За да не става хаос се спазва SRP (Single Responsibility Principle) - всичко трябва да е разделено (във файлове, модули, layer-и) - и да прави едно нещо, но добре

= slide 'Редактор' do
  list:
    Естествено най-логичното място да започнем е code editor-а. Състезателите:
    <a href="http://notepad-plus-plus.org/">Notepad++</a> - прост, без много функционалност, но е бърз и върши работа
    <a href="http://www.sublimetext.com/">Sublime Text</a> - доста хора го намират за по-приятен, има някои интересни възможности
    <a href="http://www.vim.org/about.php">Vim</a> - ако по ОС са ви запалили - браво! - ако не едва ли сами ще се запалите
    <a href="http://aptana.com/">Aptana</a>, <a href="http://c9.io">Cloud9</a>, Visual Studio или каквото вие си харесвате
    Ако работите на стационарните компютри и няма желаната програма - обикновено преносимите версии се инсталират по-лесно при липса на администраторски права. "notepad++ portable" и тн

= slide 'Sublime Text Demo' do
  iframe.intro src="http://www.sublimetext.com"
