= slide 'Data URI Base64' do
  list:
    Засега знаем, че img тага има src атрибут и и background-image има url(...)
    Обикновено очакваме и на двете места стои url на картинката, но има и друг начин
    Синтаксисът е `data:image/jpeg;base64,ENCODED_STRING`

= slide 'Защо да го използваме?' do
  list:
    Base64 encode-ването не е особено ефективно от гледна точка само на размер (около 30% по-неефективно), но в момента по-проблемно е времето за връзка, а не прехвърлянето на данните. Затова намаляването на бройката request-и е от особено значение.
    Ами кеширане?
    Когато е част от HTML-a не се кешира, но ако е част от CSS-a се кешира.
= slide 'CSS Sprites' do
  list:
    Има и още един начин за намаляване на request-ите за картинки.
    <img src="images/css_sprite.png">
    Много картинки се сливат в една. После чрез background-position се достъпва оригиналната картинка.
= slide 'CSS Sprites Demo' do
  textarea.new-demo
    | <div id="sprite-example"></div>
      <style>
        #sprite-example {
          background-position: -444px -69px;
          height: 33px;
          width: 92px;
          background-image:url(images/css_sprite.png);
        }
      </style>
= slide 'Малко селектори' do
  list:
    `foo~bar` - елементи bar, предшествани от елементи foo
    `[src]` - елементи, които <strong>имат</strong> атрибут src
    `[src="//ssl.gstatic.com/gb/images/v1_3fc5b988.png"]` - елементи, чийто src е <strong>равен</strong> на "//..."
    `[src^="https"]` - елементи, чийто src <strong>започва</strong> с https
    `[src$=".png"]` - елементи, чийто src <strong>завършва</strong> с .png
    `[src*="html5"]` - елементи, чийто src <strong>съдържа</strong> в себе си html5
= slide 'Pseudo селектори' do
  list:
    `:not(some_selector)` - много удобен селектор - мачва отрицанието на some_selector
    `:before` и `:after` - вмъкват съдържание преди или след дадения селектор
    често се използват за clear след float-ове:
    .clearfix:after {<br>&nbsp;&nbsp;&nbsp;&nbsp;content: ".";<br>&nbsp;&nbsp;&nbsp;&nbsp;visibility: hidden;<br>&nbsp;&nbsp;&nbsp;&nbsp;display: block;<br>&nbsp;&nbsp;&nbsp;&nbsp;height: 0;<br>&nbsp;&nbsp;&nbsp;&nbsp;clear: both;<br>}
    `#sasa:target` - много интересен селектор - когато кликнем върху `&lt;a href="#sasa"&gt;Sasa&lt;/a&gt;` браузърът скролва до дадения елемент с id = sasa. Докато url-a в address bar-a завършва на #sasa този елемент е бива хващан от селектора и може да се зададе някакъв css за него
= slide 'Скъпи Деца' do
  list:
    `:empty` - абсолютно празен елемент, който няма нито деца, нито дори textNode
    `:first-child` и `:last-child` - първи и последен поделемент на своя родител
    `:first-of-type` и `:last-of-type` - първи и последен поделемент на своя родител от съответния тип
    `:only-child` и `:only-of-type` - единствено дете или единствено дете от дадения тип
    `:nth-child(n)`, `:nth-of-type(n)` - n-то дете и тн - <strong>Внимание - броенето започва от 1, а <em>НЕ</em> от 0</strong>
    `:nth-last-child(n)`, `:nth-last-of-type(n)` - като последното, но броенето започва отдолу нагоре
    При nth-child и тн интересно е, че можете да избирате деца, отговарящи на дадена проста формула, от типа `a<em>n</em>+b`. Тоест имате:
    `:nth-child(3)` - 3то дете
    `:nth-child(2n+3)` - 3, 5, 7, 9...
= slide 'CSS3 is shiny!' do
  list:
    `text-transform` - uppercase / lowercase / capitalize
    `text-shadow` - x-offset y-offset blur color
    `box-shadow` - x-offset y-offset blur spread color inset. Може да се изредят няколко чрез запепайка, подобно на background.
    `border-radius` - top-left-radius top-right bottom-right bottom-left
= slide 'CSS3 Demo' do
  textarea.new-demo
    |
      <div style="box-shadow: 2px 2px 10px 4px #225">
        <h1>Box with box-shadow</h1>
        <p style="text-transform:uppercase">this will be uppercase text</p>
        <p style="text-shadow: 1px 1px gold">this text has a shadow</p>
        <div style="padding:10px;margin:5px;border-radius:10px;background:gray;">I can has rounded corners</div>
      </div>

= slide 'Render Engines' do
  list:
    Различните браузъри имат различни render engine-и и възпроизвеждат html & css по различен начин.
    Къде работи това? - <a href="http://caniuse.com">caniuse.com</a>
    Защо е така? - стандартите все още се определят още преди те да са готови различните браузъри започват да ги имплементират. Понякога дори може дадена имплементация да повлияе на стандарта.
    Обикновено тези екпериментални feature-и се добавят с някакъв префикс. Префиксите са следните:
    `-ms` - Internet Explorer
    `-moz` - Firefox
    `-webkit` - Chrome, Safari, others
    `-o` - Opera (old)
= slide 'CSS3 Gradients' do
  ul
    li.action
      div[style="height:100px;width:100px;background: -webkit-linear-gradient(black, white); background: linear-gradient(black, white);"]
    li.action `background: -moz-linear-gradient(black, white); /* FF 3.6-15 */`
    li.action `background: -webkit-linear-gradient(black, white); /* Safari 5.1+, Chrome 10-25 */`
    li.action `background: -o-linear-gradient(black, white); /* Opera 11.10 */`
    li.action `filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#ffffff'); /* IE9 */`
    li.action `background: linear-gradient(black, white); /* the standard */`
    li.action <a href="http://www.impressivewebs.com/css3-linear-gradient-syntax/">linear gradient syntax</a>
= slide 'Alternatives?' do
  list:
    <a href="http://modernizr.com/">Modernizr</a> - изисква да знаете поне малко js
    <a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-browser-Polyfills">Всички известни polyfills</a> - вземете каквото ви трябва
    Или CSS препроцесор - вие пишете нормален код, а получавате грозния css, който да работи навсякъде - Less || Sass
= slide 'Box Model Again' do
  ul
    li.action Помните ли box модела?<br>Има и още един.
    li.action style="float:left; margin-right:30px;" <img src="images/boxmodel.gif" alt="boxmodel">
    li.action Резултатът: `box-sizing` - `content-box` (стария начин) / `padding-box` (не се поддържа почти никъде) / `border-box` (начина на старото IE).
= slide 'Display: flex?' do
  list:
    Един нов начин за правене на layouts лесно е с flexbox.
    Минусът е, че не работи навсякъде, както и има проблеми на някои места.
    Проблемите са основно при IE, Android, IOS, но за нормални десктоп browsers е супер.
    Засега не се препоръчва за домашни и проекти.
= slide 'Flexbox intro' do
  iframe.intro src=https://css-tricks.com/snippets/css/a-guide-to-flexbox/
= slide 'Responsive design' do
  ul
    li.action aka Media queries
    li.action
      pre.highlight.css
        | @media screen and (max-width: 480px) {
            aside {
              display: block;
            }
          }

= slide 'Как да оптимизираме писането на HTML и CSS' do
  list:
    Ами има няколко неща, които е добре да направим:
    Да си изберем редактор, в който се чувстваме комфортно и да допълним с плъгини функционалности, които ни липсват ако има такива.
    Например: Ако ползвате Notepad++ и сте решили да пишете html ръчно можете да си включите автоматичното затваряне от TextFX -> Settings
    От тези плъгини Emmet ще ни бъде от основно значение.
    Можем да помислим и за някакъв HTML и/или CSS препроцесор
    Можете да разгледате <a href="http://iliasky.com/blog/write-html-css-fast/">този линк</a>, който е точно на тази тема
= slide 'Emmet Intro' do
  iframe.intro src="http://docs.emmet.io/#emmet--the-essential-toolkit-for-web-developers"
= slide 'Emmet Tips' do
  iframe.intro src="http://designshack.net/articles/css/6-awesome-emmet-css-time-saving-tips/"
= slide 'Debug' do
  list:
    Вече сте започнали проекта си и трябва да видите защо нещо се чупи?
    F12 е командата във всички браузъри без Opera за отварянето на съответния инспектор
    Chrome -> Chrome DevTools, Firefox -> Firebug, IE -> F12, Opera -> Dragonfly
    Навсякъде без IE имате и Right Click -> Inspect Element
    Можете да си пишете CSS-a на място и да виждате как се променя резултатът и после да го копирате.
= slide 'Stylebot Chrome Extension' do
  list:
    При инспектора обаче рискувате да не успеете да пропуснете нещо и да трябва да повтаряте действието.
    За такива ситуации има chrome extension на име <a href="http://chrome.google.com/webstore/detail/stylebot/oiaejidbmkiecgbjeifoejpgmdaleoha" target="_blank">stylebot</a> - дава ви възможност да пишете директно в неговия панел и промените да се запазват. След инсталиране трябва да check-нете "Allow access to file URLs" от chrome://extensions/
    Бонус: Чрез него можете и да си правите или добавяте ваши стилове към уебсайтове, които посещавате често (например нощни теми).
= slide 'Задача' do
  img src="images/sing-up-form.PNG"
/= slide 'И ако искате' do
/  ul
/    li.action Помислете как HTML-a на първата задача може да бъде направен семантично по-коректен и приятен.
/    li.action Поиграйте си малко с HTML & CSS и си направете някакъв прототипен дизайн на проекта.
/    li.action Задавайте въпроси ако нещо не ви е ясно как да стане.
/    li.action And may the hacks be with you! (or maybe not)